/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1f5f9;
  box-shadow: -11px 9px 38px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 9px 38px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 9px 38px 10px rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
}

.main-heading {
  font-size: 30px;
}
.img-search {
  width: 25%;
}
input {
  background-color: #f1f5f9;
  color: #000000;
  border-style: none;
}
.lists-container {
  display: flex;
  place-items: center;
}

.list-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
